html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

body {
  background-color: #fdfdfc;
  position: relative;
  max-width: 40em;
  margin: calc(2em + 2ex) auto;
  padding: 2em;
  word-break: break-word;
}

@media (min-width: 40em) and (min-height: 20em) {
  body {
    /* Go all Tschichold when supported */
    padding: calc(2em + 2ex);
    margin: 11.1vh 22.2vw 22.2vh 11.1vw;
  }
}

@media (min-width: 70em) and (min-height: 35em) {
  body {
    /* Go all Tschichold when supported */
    max-width: 70em;
    padding: 11.1vh 22.2vw 22.2vh 11.1vw;
  }
}

@media (min-width: 90em) {
  body {
    max-width: 66.6vw;
  }
}

* {
  line-height: calc(1em + 1ex);
  box-sizing: border-box;
}

p,
h1,
h2,
ol,
ul {
  margin-top: calc(1em + 1ex);
  margin-bottom: calc(1em + 1ex);
}

h1,
h2 {
  font-weight: 200;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 1em;
  font-weight: 600;
}

a {
  text-decoration: none;
}

a,
button {
  color: inherit;
  transition: 200ms;
  transition-property: color, border-color;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  color: inherit;
  border: 1px solid currentcolor;
  border-radius: 3px;
  font-size: 1em;
}

a:hover,
a:focus,
a:target,
button:focus,
button:hover,
button:active {
  color: inherit;
  border-color: inherit;
}

pre,
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: small;
}

strong {
  font-weight: 600;
}

abbr {
  border-bottom: 1px dotted transparent;
  text-decoration: none;
}

ol,
ul {
  padding: 0;
}

ul {
  list-style-type: circle;
}

p code,
li code {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.2em 0.4em;
}

figure {
  position: relative;
  border-radius: 100%;
  max-width: 33%;
  display: block;
  margin: auto;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  border-radius: 100%;
}

.js figure {
  -webkit-filter: contrast(1.5) brightness(0.9);
  filter: contrast(1.5) brightness(0.9);
}

.js figure::after {
  opacity: 0.5;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: screen;
}

/* Custom stuff */

.nojs a {
  color: #0366d6;
}

body > :first-child {
  margin-top: 0;
}

body > :last-child {
  margin-bottom: 0;
}
