header {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 4em;
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}

h2 {
  font-size: 2em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

@media (min-width: 40em) {
  nav ol {
    display: flex;
  }

  nav .home {
    flex: 1;
  }

  .landscape,
  .panorama {
    grid-column-start: span 2;
  }
}

@media (min-width: 60em) {
  .panorama {
    grid-column-start: span 3;
  }
}

@media (min-width: 80em) {
  .pictures {
    max-width: 100em;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
  }
}
