body {
  background-color: black;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="2" cy="2" r="0.5" fill="white" fill-opacity="0.5"/></svg>');
  color: white;
}

a:hover,
a.active {
  background-color: white;
  color: black;
}

.caption {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="1" cy="1" r="0.5" fill="white" fill-opacity="0.5"/><circle cx="3" cy="3" r="0.5" fill="white" fill-opacity="0.5"/></svg>');
}

.card .caption {
  background-color: black;
}

.cover,
.card {
  background-color: white;
}

.cover::after,
.card::after {
  background-image: none;
  background-color: black;
  opacity: 0.5;
}

.text {
  background-color: black;
  color: white;
}

ul li::before {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="2" cy="2" r="2" fill="white"/></svg>');
}
