* {
  box-sizing: border-box;
  line-height: 1.5;
}

a {
  color: inherit;
}

a.active,
a:hover {
  background-color: black;
  color: white;
}

b,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
  font-weight: 600;
  letter-spacing: 0.0125em;
}

blockquote,
dd,
details,
dl,
dt,
figure,
form,
h3,
h4,
h5,
h6,
hr,
label,
ol,
p,
pre,
summary,
table,
ul {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5em;
  position: relative;
}

blockquote::before {
  background-color: black;
  border-radius: var(--border-radius);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: var(--border);
}

body {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="2" cy="2" r="0.5" fill="black"/></svg>');
  margin: 0;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

code,
kbd,
pre,
tr:nth-child(2n) {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="2" cy="2" r="0.5" fill="black" fill-opacity="0.2"/></svg>');
}

code,
kbd,
pre {
  font-family: var(--ff-mono);
  font-feature-settings: normal;
  font-size: smaller;
}

code {
  padding: 0.2em 0.4em;
}

dd {
  margin-top: 0;
  padding: 0 1.5em;
}

dt {
  font-style: italic;
  margin-bottom: 0;
}

dt + dt {
  margin-top: 0;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.375em;
  margin-top: 0.375em;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
}

h3,
h5 {
  font-style: italic;
}

h5,
h6 {
  float: left;
  margin-bottom: 0;
  margin-right: 0.2em;
  margin-top: 0;
}

h5::after,
h6::after {
  content: ': ';
  font-style: normal;
  font-weight: normal;
}

header {
  margin-bottom: 3em;
  margin-top: 3em;
}

header,
main,
nav li {
  margin: 1.5em;
}

html {
  /* Sizes. */
  --border-radius: 0.5rem;
  --border: 0.25rem;
  --squircle-smooth: 1;

  /* Font families. */
  --ff-mono: 'San Francisco Mono', 'Monaco', 'Consolas', 'Lucida Console',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  --ff-sans: system-ui;

  font-family: var(--ff-sans);
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-kerning: normal;
  text-size-adjust: 100%;
  word-wrap: break-word;
}

hr {
  background-color: black;
  border: 0;
  border-radius: var(--border-radius);
  height: var(--border);
}

img {
  background-color: transparent;
}

img[align='right'] {
  padding-left: 1.5em;
}

img[align='left'] {
  padding-right: 1.5em;
}

kbd {
  border: calc(var(--border) / 2) solid black;
  border-radius: calc(var(--border-radius) - var(--border));
  box-shadow: inset 0 -1px 0 black;
  padding: 0.2em 0.4em;
  vertical-align: middle;
}

li {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  word-wrap: break-word;
}

nav li {
  padding: 0;
}

ol {
  padding-left: 1em;
}

nav ol {
  list-style-type: none;
  margin: -1.5em;
  padding: 0;
}

ol li {
  padding-left: 0.5em;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

pre {
  border: 0 solid black;
  border-bottom-width: var(--border);
  border-top-width: var(--border);
  font-size: inherit;
  margin-left: -1.5em;
  margin-right: -1.5em;
  overflow: auto;
  padding: 1.5em;
  word-wrap: normal;
}

pre code {
  background-image: none;
  overflow: visible;
  padding: 0;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  font-variant-numeric: lining-nums;
  overflow: auto;
  width: 100%;
}

td,
th {
  border: calc(var(--border) / 2) solid black;
  padding: 0.4em 0.8em;
}

ul {
  list-style-type: none;
  padding-left: 1.5em;
}

ul li {
  padding-left: 0;
  position: relative;
}

ul > li::before {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="2" cy="2" r="2" fill="black"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  height: 1.5em;
  left: -1.5em;
  position: absolute;
  top: 0;
  width: 0.25em;
}

.article,
.card,
.cover,
.picture {
  --squircle-radius: 16px;

  background-color: black;
  border-radius: var(--border-radius);
  mask-image: paint(squircle);
  padding: var(--border);
  position: relative;
}

.article-inner,
.card .caption {
  --squircle-radius: 12px;

  background-color: white;
  border-radius: calc(var(--border-radius) - var(--border));
  mask-image: paint(squircle);
  overflow: hidden;
}

.article-inner {
  padding: 0 1.5em;
}

.article-wrap,
.card-wrap,
.cover-wrap,
.picture-wrap {
  position: relative;
}

.article-wrap::after,
.card-wrap::after,
.cover-wrap::after,
.picture-wrap::after {
  --squircle-radius: 16px;

  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><path d="M0 0L4 4ZM4 0L0 4Z" stroke-width="0.5" stroke="black"/></svg>');
  background-repeat: repeat;
  border-radius: var(--border-radius);
  content: '';
  height: 100%;
  left: 0.5em;
  mask-image: paint(squircle);
  position: absolute;
  top: 0.5em;
  width: 100%;
  z-index: -1;
}

.caption {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="1" cy="1" r="0.5" fill="black"/><circle cx="3" cy="3" r="0.5" fill="black"/></svg>');
  background-repeat: repeat;
  font-size: 1em;
}

.caption h1,
.caption h2,
.caption h3,
.caption h4,
.caption h5,
.caption h6,
.caption ol,
.caption p,
.caption ul {
  font-size: 1em;
  margin: 0.5em 0;
}

.caption p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards > li,
.covers > li,
.pictures > li {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.cards,
.covers,
.pictures {
  display: grid;
  gap: 1.5em;
  grid-auto-flow: dense;
  list-style-type: none;
  padding: 0;
}

.cards,
.pictures {
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
}

.card,
.cover,
.picture {
  margin: 0;
}

.card .caption {
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.content {
  max-width: 52.5em;
}

.covers {
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}

.cover img,
.pictures img,
.pictures svg {
  --squircle-radius: 12px;

  border-radius: calc(var(--border-radius) - var(--border));
  display: block;
  height: 100%;
  mask-image: paint(squircle);
  object-fit: cover;
  width: 100%;
}

.cover.square {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.cover img {
  filter: grayscale(1);
  object-fit: cover;
}

.cover.square img {
  --squircle-radius: 12px;

  border-radius: calc(var(--border-radius) - 3px);
  height: calc(100% - 2 * var(--border));
  inset: var(--border);
  mask-image: paint(squircle);
  position: absolute;
  width: calc(100% - 2 * var(--border));
}

.cover .caption,
.picture .caption {
  bottom: var(--border);
  left: var(--border);
  margin: 0;
  overflow: hidden;
  padding: 1em;
  position: absolute;
  right: var(--border);
  z-index: 1;
}

.picture img,
.picture svg {
  max-height: 100vh;
}

.task-list-item {
  list-style-type: none;
  margin-left: 0;
}

.task-list-item::before {
  content: normal;
}

.task-list-item input {
  margin: 0;
  margin-right: 0.25em;
}

.text {
  background-color: white;
  padding: 0.125rem;
}
